<%= render partial: "shared/header" %>
<div class="wrapper">
  <div class="wrapper-content">
    <div><%= flash[:notice] %></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "edit-user", html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :name, "ユーザー名", class: "user-form-item" %>
        <%= f.text_field :name, class: "user-form-item", autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "user-form-item" %>
        <%= f.email_field :email, class: "user-form-item", autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "user-form-item" %>
        <%= f.password_field :password, class: "user-form-item", autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認）", class: "user-form-item" %>
        <%= f.password_field :password_confirmation, class: "user-form-item", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード", class: "user-form-item" %> <i>(確認のため、現在のパスワードを入力してください)</i><br />
        <%= f.password_field :current_password, class: "user-form-item", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", id: "submit" %>
      </div>
      <%= link_to "キャンセル", user_path(current_user), id: "return-fill-width" %>
    <% end %>
  </div>
  <%# wrapper-content %>
</div>
<%# wrapper %>
<%= render partial: "shared/footer" %>