<%= render partial: "shared/second_header" %>
<div class="device-wrapper">
  <div class="user-form">

    <%= form_for(resource, class: "user-form-list", as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <label for="name" class="user-form-label">ユーザー名</label><br>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <label for="email" class="user-form-label">メールアドレス</label><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <label for="password" class="user-form-label">パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <label for="password_confirmation" class="user-form-label">パスワード（確認）</label><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", id: "submit" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
<%= render partial: "shared/footer" %>
