<div class="paragraph-hard-code" id="<%= paragraph.id %>">
  <div class="flex">
    <div class="hard-code-headline">
      <%= safe_join(paragraph.headline.split("\n"),tag.br) %>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to edit_user_article_paragraph_path(@user, @article, paragraph), class:"edit-btn" do %>
        <%= image_tag "edit.svg", alt: "編集"%>
      <% end %>
      <%= link_to user_article_paragraph_path(@user, @article, paragraph), class: "trash-btn", method: :delete do %>
        <%= image_tag "trash.svg", alt: "削除" %>
      <% end %>
    <% end %>
  </div>
  <div class="hard-code-content">
    <%= safe_join(paragraph.content.split("\n"),tag.br) %>
  </div>
  <div class="hard-code-images">
    <%= render partial: "paragraphs/image", collection: paragraph.images %>
  </div>
</div>
<!-- //paragraph-hard-code -->
