<%= render partial: "shared/header" %>
<div class="wrapper">
  <div class="main">
  
    <div><%= flash[:notice] %></div>
    <h2>記事を編集</h2>
    <div class="flex">
      <h3 id="edit-outline">記事のアウトラインを編集</h3>
      <label class="edit-btn" id="edit-outline-btn">
        <%= image_tag "edit.svg", alt: "編集"%>
      </label>
      <label class="trash-btn" id="trash-btn">
        <%= image_tag "trash.svg", alt: "削除" %>
      </label>
      <div class="pop-up" id="pop-up">
        <div class="pop-up-main">
          <div class="pop-up-message">記事を削除しますか？</div>
          <div class="pop-up-flex">
            <div class="cancel-btn">
              <%= link_to "キャンセル", edit_user_article_path(@user, @article) %>
            </div>
            <div class="ok-btn">
              <%= link_to "OK", user_article_path(@user, @article), method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= form_with model: [@user, @article], id: "edit-article-form", local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
      <%= f.label :summary, "サマリー" %>
      <%= f.text_area :summary %>
      <div class="under-form-btn">
        <div class="cancel-btn">
          <%= link_to "キャンセル", user_article_path(@user, @article) %>
        </div>
        <div class="reset-btn">
          <%= link_to "リセット", edit_user_article_path(@user, @article) %>
        </div>
        <%= f.submit "保存", class: "save-btn", id: "edit-submit-btn" %>
      </div>
    <% end %>
    <!-- //edit-article-form -->

    <div class="paragraphs">

      <%= render partial: "paragraph", collection: @paragraphs %>

      <div id="add-paragraph-bar">
        <div id="paragraph-bar"></div>
        <%= link_to "段落を追加", new_user_article_paragraph_path(@user, @article), class:"save-btn", id: "add-paragraph-btn" %>
      </div>
      <!-- //add-paragraph-bar -->

    </div>
    <!-- //paragraphs -->
    <%= link_to "戻る", user_article_path(@user, @article), id: "return"%>
  
  </div>
  <!-- //main -->
  <div class="side">
    <%= link_to "記事のアウトラインを編集", "#edit-outline", class: "bold" %><%= tag.br %>
    <% @paragraphs.each do |paragraph| %>
      <%= link_to paragraph.headline, "##{paragraph.id}" %><%= tag.br %>
    <% end %>
    <%= link_to "段落を追加", "#add-paragraph-btn" %>
  </div>
  <!-- //side -->
</div>
<!-- //wrapper -->
<%= render partial: "shared/footer" %>