<% if user_signed_in? %>
  <%= render partial: "shared/header" %>
<% else %>
  <%= render partial: "shared/second_header" %>
<% end %>
<div class="wrapper">
  <div class="main">
    <div class="main-content">
      <div><%= flash[:notice] %></div>
      <div class="articles">
        <%= render partial: "shared/article", collection: @articles %>
      </div>
      <%# 記事一覧 %>
    </div>
    <!-- //main-content -->
  </div>
  <!-- //main -->
  <div class="side"></div>
  <!-- //side -->
</div>
<!-- //wrapper -->
<%= render partial: "shared/footer" %>