<%= render partial: "shared/header" %>
<div class="wrapper">
  <div class="main">
    <div class="main-content">
      <div><%= flash[:notice] %></div>
      <h2>記事のアウトラインを作成</h2>
      <%= form_with model: [@user,@article], class: "article-form", local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title %>
        <%= f.label :summary, "サマリー" %>
        <%= f.text_area :summary %>
        <div class="under-form-btn">
          <div class="cancel-btn">
            <%= link_to "キャンセル", root_path %>
          </div>
          <div class="reset-btn">
            <%= link_to "リセット", new_user_article_path(@user) %>
          </div>
          <%= f.submit "保存", class: "save-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- //main -->
  <div class="side">

  </div>
  <!-- //side -->
</div>
<!-- //wrapper -->
<%= render partial: "shared/footer" %>