<% if user_signed_in? %>
  <%= render partial: "shared/header" %>
<% else %>
  <%= render partial: "shared/second_header" %>
<% end %>
    <div class="wrapper">
      <div class="main">
        <div><%= flash[:notice] %></div>
        <div class="flex">
          <h2 id="article-show-title"><%= @article.title %></h2>
          <% if user_signed_in? && current_user.id == @user.id %>
            <%= link_to edit_user_article_path(@user, @article), class: "edit-btn", id: "edit-outline-btn" do%>
              <%= image_tag "edit.svg", alt: "編集"%>
            <% end %>
            <label class="trash-btn" id="trash-btn">
              <%= image_tag "trash.svg", alt: "削除" %>
            </label>
            <div class="pop-up" id="pop-up">
              <div class="pop-up-main">
                <div class="pop-up-message">記事を削除しますか？</div>
                <div class="pop-up-flex">
                  <div class="cancel-btn">
                    <%= link_to "キャンセル", user_article_path(@user, @article) %>
                  </div>
                  <div class="ok-btn">
                    <%= link_to "OK", user_article_path(@user, @article), method: :delete %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="article-info">
          <div class="article-show-avatar">
            <% if @user.avatar == nil %>
              <%= image_tag "user.svg"%>
            <% else %>
              <%= image_tag @user.avatar.avatar %>
            <% end %>
          </div>
          <div class="article-info-right">
            <div class="article-show-user-name">
              <%= link_to user_path(@user) do %>
                <%= @article.user.name %>
              <% end %>
            </div>
            <div class="article-show-data">
              更新日：<%= l @article.updated_at %>
            </div>
          </div>
        </div>

        <div class="article-show-summary">
          <%= safe_join(@article.summary.split("\n"),tag.br) %>
        </div>

        <div class="paragraphs">
          
          <%= render partial: "paragraph", collection: @paragraphs %>

        </div>
        <!-- //paragraphs -->
      </div>
      <!-- //main -->
      <div class="side">
        <%= link_to @article.title, "#article-show-title", class: "bold"%><%= tag.br %>
        <% @paragraphs.each do |paragraph| %>
          <%= link_to paragraph.headline, "##{paragraph.id}" %><%= tag.br %>
        <% end %>
      </div>
      <!-- //side -->
    </div>
    <!-- //wrapper -->
    <%= render partial: "shared/footer" %>