<% if user_signed_in? %>
  <%= render partial: "shared/header" %>
<% else %>
  <%= render partial: "shared/second_header" %>
<% end %>
    <div class="wrapper">
      <div class="main">
        <div class="main-content">
          <div><%= flash[:notice] %></div>
          <div class="flex">
            <h2 id="article-show-title"><%= @article.title %></h2>
            <% if user_signed_in? && current_user.id == @user.id %>
              <%= link_to edit_user_article_path(@user, @article), class: "edit-btn", id: "edit-outline-btn" do%>
                <%= image_tag "edit.svg", alt: "編集"%>
              <% end %>
              <%= link_to user_article_path(@user, @article), class: "trash-btn", id: "trash-outline-btn", method: :delete do %>
                <%= image_tag "trash.svg", alt: "削除" %>
              <% end %>
            <% end %>
          </div>

          <div class="article-info">
            <div class="article-show-avatar">
              <%= image_tag "user.svg"%>
            </div>
            <div class="article-info-right">
              <div class="article-show-user-name">
                <%= @article.user.name %>
              </div>
              <div class="article-show-data">
                更新日：<%= @article.updated_at %>
              </div>
            </div>
          </div>

          <div class="article-show-summary">
            <%= safe_join(@article.summary.split("\n"),tag.br) %>
          </div>

          <div class="paragraphs">
            
            <%= render partial: "paragraph", collection: @paragraphs %>

          </div>
          <!-- //paragraphs -->
          
        </div>
        <!-- //main-content -->
      </div>
      <!-- //main -->
      <div class="side">
        <%= link_to @article.title, "#article-show-title", class: "bold"%><%= tag.br %>
        <% @paragraphs.each do |paragraph| %>
          <%= link_to paragraph.headline, "##{paragraph.id}" %><%= tag.br %>
        <% end %>
      </div>
      <!-- //side -->
    </div>
    <!-- //wrapper -->
    <%= render partial: "shared/footer" %>