<%= render partial: "shared/header" %>
<div class="wrapper">
  <div class="main">
    <div class="user-info">
      <div class="mypage-avatar">
        <div class="mypage-avatar-inner">
          <%= image_tag "user.svg" %>
        </div>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "#/avatars/edit", class: "edit-btn", id: "mypage-avatar-edit" do %>
            <%= image_tag "edit.svg", alt: "編集" %>
          <% end %>
        <% end %>
      </div>
      <div class="mypage-name">
        <%= @user.name %>
      </div>
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="mypage-edit-or-delete">
          <%= link_to "アカウント編集", edit_registration_path(@user) %>
          <%= link_to "アカウント削除", registration_path(@user), method: :delete  %>
        </div>
      <% end %>
    </div>

    <!-- 記事一覧 -->
    <div class="articles">
      <%= render partial: "shared/article", collection: @articles %>
    </div>
    <!-- //記事一覧 -->
  </div>
  <!-- //main -->
  <div class="side">

  </div>
  <!-- //side -->
</div>
<!-- //wrapper -->
<%= render partial: "shared/footer" %>