<header>
  <div class="content header-content">
    <div class="header-logo">
      <%= link_to "Life Master", root_path %>
    </div>
    <div class="header-menu">
      <div>
        <label class="header-menu-open" id="menu-open">
          <div></div>
          <div></div>
          <div></div>
        </label>
        <div class="header-menu-items" id="menu-items">
          <%= link_to user_path(current_user), style: "width:auto" do %>
            <div id="header-user-name">
              <%= current_user.name %>
            </div>
          <% end %>
          <%= link_to root_path do %>
            <div class="header-menu-image">
              <%= image_tag "articles.svg" %>
            </div>
            記事一覧
          <% end %>
          
          <%= link_to new_user_article_path(current_user) do %>
            <div class="header-menu-image">
              <%= image_tag "new-black.svg" %>
            </div>
            新規作成
          <% end %>
          
          <%= link_to user_path(current_user) do %>
            <div class="header-menu-image">
              <%= image_tag "user.svg" %>
            </div>
            マイページ
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="header-menu-image">
              <%= image_tag "logout.svg" %>
            </div>
            ログアウト
          <% end %>
        </div>
        <label class="header-menu-close" id="menu-close">
          <div></div>
          <div></div>
        </label>
      </div>
    </div>
  </div>
</header>