<header>
  <div class="content header-content">
    <div class="header-logo">
      <%= link_to "Life Master", root_path %>
    </div>
    <div class="header-menu">
      <div>
        <label class="header-menu-open" id="menu-open">
          <div></div>
          <div></div>
          <div></div>
        </label>
        <div class="header-menu-items" id="menu-items">
          <%= link_to "#", style: "width:auto" do %>
            <div style="height: 20px; margin-top:calc(50% - 10px); font-size: 16px; line-height: 20px">
              <%= current_user.name %>
            </div>
          <% end %>
          <%= link_to root_path do %>
            <div class="header-menu-image">
              <%= image_tag "articles.svg" %>
            </div>
            記事一覧
          <% end %>
          
          <%= link_to new_user_article_path(current_user) do %>
            <div class="header-menu-image">
              <%= image_tag "new-black.svg" %>
            </div>
            新規作成
          <% end %>
          
          <%# <a href="../users/show.html"> %>
          <%#= link_to "マイページのURL" do %>
            <%# <div class="header-menu-image"> %>
              <%#= image_tag "user.svg" %>
            <%# </div> %>
            <%# マイページ %>
          <%# end %>
          <%# </a> %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="header-menu-image">
              <%= image_tag "logout.svg" %>
            </div>
            ログアウト
          <% end %>
        </div>
        <label class="header-menu-close" id="menu-close">
          <div></div>
          <div></div>
        </label>
      </div>
    </div>
  </div>
</header>