<header>
  <div class="content header-content">
    <div class="header-logo-wrap">
      <div class="header-logo">
        <%= link_to "Life Master", home_top_path %>
      </div>
      <div class="sub-logo">世界を変えるアイデア投稿サイト</div>
    </div>
    <div class="header-menu">
      <div>
        <label class="header-menu-open" id="menu-open">
          <div></div>
          <div></div>
          <div></div>
        </label>
        <div class="header-menu-items" id="menu-items">
          <%= link_to root_path do %>
            <div class="header-menu-image">
              <%= image_tag "articles.svg" %>
            </div>
            記事一覧
          <% end %>
          
          <%= link_to new_user_session_path do %>
            <div class="header-menu-image">
              <%= image_tag "login.svg" %>
            </div>
            ログイン
          <%  end %>
          
          <%= link_to new_user_registration_path do %>
            <div class="header-menu-image">
              <%= image_tag "user-new.svg" %>
            </div>
            新規登録
          <% end %>
          
        </div>
        <label class="header-menu-close" id="menu-close">
          <div></div>
          <div></div>
        </label>
      </div>
    </div>
  </div>
</header>
