<div class="wrapper">
    <%= form_with model: @user, id: "edit-user" do |f| %>
      <%= f.label :name, "ユーザー名", class: "user-form-item" %>
      <input type="text" name="name">
      <%= f.texxt_field :name, class: "user-form-item" %>
      <%= f.label :email, "メールアドレス", class: "user-form-item" %>
      <%= f.texxt_field :email, class: "user-form-item" %>
      <%= f.label :password, "パスワード", class: "user-form-item" %>
      <%= f.text_field :password, class: "user-form-item" %>
      <%= f.label :password_confirmation, "パスワード（確認）", class: "user-form-item" %>
      <%= f.text_field :password_confirmation, class: "user-form-item" %>
      <%= f.submit "保存", id: "submit" %>
    <% end %>
</div>